<div class="favorites">
  <section class="favorites__box">
    <span class="favorites__title">FAVORITOS</span>
    <div class="favorites__actions">
      <button class="favorites__button" (click)="getDataFortaleza()"
        [ngClass]="{ 'favorites__button--toggle': toggleFortaleza, 'favorites__button--first-call': isFirstCall  }">
        FORTALEZA
      </button>
      <button class="favorites__button" (click)="getDataAracati()"
        [ngClass]="{ 'favorites__button--toggle': toggleAracati }">
        ARACATI
      </button>
      <button class="favorites__button" (click)="getDataFortim()"
        [ngClass]="{ 'favorites__button--toggle': toogleFortim }">
        FORTIM
      </button>
    </div>
  </section>

  <div *ngFor="let item of data">
    <app-scheduled-time [data]="item" (reloadCity)="receiveEvent($event)"></app-scheduled-time>
  </div>

  <div *ngIf="listIsEmpty" class="favorites__message">
    <span>Ainda não há favoritos!</span>
  </div>

  <div *ngIf="error" class="favorites__message">
    <span>Ocorreu um erro :( Tente novamente mais tarde. </span>
  </div>
</div>