@import '/src/styles/variables.scss';

.map__component {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  overflow: auto;
  background-color: $white-box;

  .google-map {
    margin: 0;
    padding: 0;
    height: 79vh;
    width: 100%;
  }

  agm-info-window {
    max-width: 200px;
    text-align: center;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
