/* Contém todas as variáveis necessárias referentes ao layout, como cores e fonte */

$BLACK: #000000;
$blue-base: #004aad;
$red: #F75A68;
$red-dark: #AA2834;
$yellow-star: #ffbd59;
$WHITE: #ffffff;
$white-box: #fafafa;
$GRAY_700: #121214;
$GRAY_600: #202024;
$GRAY_500: #29292E;
$GRAY_400: #323238;
$GRAY_300: #7C7C8A;
$GRAY_200: #C4C4CC;
$GRAY_100: #E1E1E6;

$montserrat: 'Roboto', sans-serif;
