/* Contém todas as variáveis necessárias referentes ao layout, como cores e fonte */

$black: #000000;
$blue-base: #004aad;
$blue-darkest: #0a346b;
$gray-box: #e6e6e6;
$gray-line: #dfe9eb;
$gray-darkest: #b8c0c2;
$red-base: #ef4136;
$red-title: #d33333;
$yellow-star: #ffbd59;
$white: #ffffff;
$white-box: #fafafa;

$montserrat: 'Montserrat', sans-serif;
