<div class="schedule">
  <div class="schedule__data">
    <button class="schedule__button-point" (click)="modal.toggle()">
      {{ schedule.point }}
    </button>
    <span class="schedule__date">{{ schedule.date }}</span>
  </div>
  <button class="schedule__button-favorite" (click)="updateScheduleTime(schedule)">
    <span class="schedule__icon-favorite material-symbols-outlined"
      [ngClass]="{ 'schedule__icon-favorite--yellow': schedule.isFavorite }">
      star
    </span>
  </button>
</div>

<app-modal #modal>
  <div class="modal">
    <div class="modal__data">
      <span class="modal__button-point">
        {{ schedule.point }}
      </span>
      <div class="modal__info">
        <span class="modal__text">{{ schedule.name }}</span>
        <span class="modal__text modal__text--middle">Endereço:</span>
        <span class="modal__text modal__text--smaller">{{ schedule.address }}</span>
      </div>
    </div>
  </div>
</app-modal>
