@import '/src/styles/variables.scss';

.footer {
  display: flex;
  height: 11vh;
  justify-content: space-around;

  .footer-button {
    background-color: $white;
    border: none;
    color: $red-base;
    width: 33%;
    border-top: 4px solid $white;

    &__icon {
      font-size: 50px;
      font-variation-settings: 'FILL' 1, 'wght' 200, 'GRAD' 0, 'opsz' 24;

      &:hover {
        color: $red-title;
        cursor: pointer;
      }

      &--toggle {
        border-top: 4px solid $red-base;
      }
    }

    &:hover {
      border-top: 4px solid $red-base;
    }
  }
}
