<section class="footer">
  <button class="footer-button" (click)="navigateToMap()">
    <span class="footer-button__icon material-symbols-outlined">
      pin_drop
    </span>
  </button>
  <button class="footer-button" (click)="navigateToList()">
    <span class="footer-button__icon material-symbols-outlined">
      list_alt
    </span>
  </button>
  <button class="footer-button" (click)="navigateToFavorites()">
    <span class="footer-button__icon material-symbols-outlined">
      stars
    </span>
  </button>
</section>
