<div class="list">
  <section class="list__actions">
    <button class="list__button" (click)="getDataFortaleza()"
      [ngClass]="{ 'list__button--toggle': toggleFortaleza, 'list__button--first-call': isFirstCall }">
      FORTALEZA
    </button>
    <button class="list__button" (click)="getDataAracati()" [ngClass]="{ 'list__button--toggle': toggleAracati }">
      ARACATI
    </button>
    <button class="list__button" (click)="getDataFortim()" [ngClass]="{ 'list__button--toggle': toogleFortim }">
      FORTIM
    </button>
  </section>

  <div *ngFor="let item of schedule">
    <app-scheduled-time [schedule]="item" (reloadCity)="reloadData($event)"></app-scheduled-time>
  </div>

  <div *ngIf="listIsEmpty" class="list__message">
    <span>Ainda não há horários marcados!</span>
  </div>

  <div *ngIf="error" class="list__message">
    <span>Ocorreu um erro :( Tente novamente mais tarde. </span>
  </div>
</div>
